.grid figure h2{font: 700 1.5em Arial; text-transform: capitalize; color: #98d321;}

#contact{background-color: #e8feba;}

.btn-primary{background:#4e820f;}

.footer{margin-top: 2em; padding-bottom: 1.5em;}