.navbar-default.affix {
    background-color: black;
    opacity: 0.9;
}
.navbar-default {
    background-color: #bababa;
    border-color: transparent;
    opacity: 0.9;
    }
.navbar-default .navbar-header .navbar-brand {
    color: #F05F40;
}
.jssort01-99-66 {
    max-width: 100%;
}
}
.jssort01-99-66 .c{
    width: 70px;
    height: 70px;
}
@media (min-width: 992px) {
  .container {
    max-width: 100%;
}
  }

