.portfolio-box {
    padding: 0;
}

header .header-content {
  text-align: center;
  padding: 200px 15px 100px;
  /*width: 100%;*/
  max-width: 100%;
  height: auto;
}
img.respond {
  max-width: 100%;
  height: auto;
}
header .header-content .header-content-inner p {
  font-family: "Goudy Old Style", Cambria;  
  font-weight: 400;
  color: rgba(255, 255, 255, 0.7);
  font-size: 30px;
  margin-top: 20px;
  max-width: 100%;
  height: auto;
}
.portfolio-box {
  margin: 0;
  padding: 0;
}
#portfolio {
  margin-left: 0;
  margin-right: 0;
  padding-left: 0;
  padding-right: 0;
}
#services {
  background-color: #151515;
}
#contact {
  background-color: #2b2b2b;
}