.navbar-default {
    background-color: black;
    border-color: transparent;
    }
.navbar-default .navbar-header .navbar-brand {
    color: #F05F40;
}
.jssort01-99-66 {
    max-width: 100%;
}
}
.jssort01-99-66 .c{
    width: 70px;
    height: 70px;
}
element.style {
    max-width: 100%;
}
.open > .dropdown-toggle.btn-default {
  color: #ee4b28;
  background-color: #f2f2f2;
  border-color: #ededed;
}